//- html
//-    head
//-       title = name
//-    body
//-       h1 Greetings from #{name}
//-       a(href = url) URL

html
   head
      title Simple template
   body
      if(user)
         h1 Hi, #{user.name}
      else
         a(href = "/sign_up") Sign Up